<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Open Orders</h5>
                </div>
                <div class="card-body">
             <table class="table table-bordered ">
            <thead>
            <tr>
                <th>Date</th>
                <th>Order Number</th>
                <th>Amount Due</th>
                <th>Amount Paid</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
           </thead>
           <tbody>
               <tr *ngFor="let o of orders.orders">
                   <td>{{o.date_placed}}</td>
                   <td>{{o.id}}</td>
                   <td>{{o.amount_due}}</td>
                   <td>{{o.amount_paid}}</td>
                   <td>{{o.status}}</td>
                   <td><button class="btn btn-outline-info btn-sm"> <i class="fa fa-cog"></i> </button></td>
               </tr>
           </tbody>

        </table>
        </div>
        </div>
      </div>
    </div>
</div>

